* {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url(../img/background.png);
  }

  .nav
  {
      /* box-shadow: 6px 7px 12px rgba(0, 0, 0, 0.7);
      background-color: black !important; */

      background-color: white;
  }
  
  .navbar-brand
  {
      color: #ADA2FF;
      font-weight: bold;
      font-size: 20px;
  }
  
  .nav-link{
      color: #6D67E4;
      font-weight: 600;
      font-size: 18px;
      padding-right: 30px !important;
  }
  
  .nav-link:hover
  {
      color: whitesmoke !important;
  }
  
  
  .band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
  }
  
  .band-name-large {
    font-size: 8em;
  }
  
  .content-section {
    margin: 1em;
  }
  
  .section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 2.5em;
  }
  
  
  .btn {
    text-align: center;
    vertical-align: middle;
    padding: .5em .5em;
    cursor: pointer;
  }
  
  
  .btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
  }
  
  .btn-play {
    display: block;
    margin: 0 auto;
    color: whitesmoke;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
  }
  
  .btn-primary {
    color: white;
    background-color: #6D67E4;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    font-size: 13px;
  }
  
  .btn-primary:hover {
    background-color:white;
    color: #6D67E4;
  }
  
  .shop-item {
    margin: 30px;
  }
  
  .shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: whitesmoke;
    margin-bottom: 15px;
  }
  
  .shop-item-image {
    width: 100%;
  }
  
  .shop-item-details {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .shop-item-price {
    flex-grow: 1;
    font-size: 17px;
    color: whitesmoke;
  }
  
  .hr
  {
    
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        color: #eee;
        
  }
  .shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: whitesmoke;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 50%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: whitesmoke;
  }
  
  .cart-quantity {
    width: 20%;
  }
  
  .cart-item-title {
    color: whitesmoke;
    /* margin-left: .5em; */
    font-size: 1em;
  }
  
  .cart-item-image {
    width: 20%;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    max-width: 30px;
    border-radius: 5px;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1em;
    margin-right: 15px;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: right;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    /* margin-right: 20px; */
  }
  
  .cart-total-price {
    color: whitesmoke;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: 15%;
  }
  
  .btn-purchase {
    font-size: 1em;
    margin: 0 auto;
  }
  
  .container2{
    width: 70%;
  }
  
  .b{
    border: 1px solid firebrick;
  }

  .inputt 
  {
    background-color: rosybrown;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    border-radius: 20px; 
  }

  .submitt 
  {
    color: white;
    background-color: rgb(140, 78, 78);
    text-align: center;
    width: 25%;
    height: 50px;
    border-radius: 20px; 
  }

  .flex{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
  }

  .button {
    background-color: #6D67E4; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid  #6D67E4;
    border-radius: 8px;
  }
  
  .button1:hover {
    background-color: #6D67E4;
    color: white;
  }

  .img-post
  {
    height: 50px;
    width: auto;
  }